WEIGHT_EDIT_DISTANCE=28
WEIGHT_METAPHONE=27
WEIGHT_SOUNDEX=0
WEIGHT_LENGTH=3
WEIGHT_LAST_CHAR=1
WEIGHT_FIRST_CHAR=5
WEIGHT_FIRST_CHAR_UPPER=1
WEIGHT_FIRST_CHAR_LOWER=4
WEIGHT_ADD_REM_CHAR=2
WEIGHT_JOINED_WORD=80
WEIGHT_FAZZY_PHON=4

SEARCH_JOINED=true
JOINED_WORD_LENGTH_MIN=2
JOINED_WORD_LENGTH_EDT=4

ED_DEF_LENGTH_MIN=1
ED_DEF_LENGTH_MED=2
ED_DEF_LENGTH_MAX=3

LENGTH_ED_DEF_MIN=1
LENGTH_ED_DEF_MED=3
LENGTH_ED_DEF_MAX=6

DELIMITERS=, .\n\r\t:+!?;{}()[]%^<>=/\"«»_\#$\\|\u00bf\u201c\u201d
DELIMITERS_JOINED=@&*-\u2014

IGNORE_MIXED_CASE=true
IGNORE_UPPER_CASE=false
IGNORE_DIGIT_WORDS=true
IGNORE_INET_WORDS=true
CAPITALIZE_FIRST_LETTER=false
IGNORE_NON_WORDS=true

LogDebug=false
LogInfo=false

